x/* App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

.user-profile {
  width: 150px;
  color:black;
  border: rgb(78, 80, 128) 4px solid;
  background-color: rgb(193, 200, 232);
  padding: 20px;
}

.location-button {
  width: 102px;
  border: rgb(55, 74, 120) 4px solid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
