x/* App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #c4d0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

.user-profile {
  width: 370px;
  color:black;
  border: rgb(78, 80, 128) 4px solid;
  background-color: rgb(193, 200, 232);
  padding: 20px;
  float: top;
  margin: auto;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-section {
  float: center;
}

.right-section {
  float: center;
}

.match1 {
  display: inline-block;
  border: 1px solid rgb(0, 4, 255);
  padding: 1rem 1rem;
  width: 200px;
  margin: 20px;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.match2 {
  display: inline-block;
  border: 1px solid rgb(0, 4, 255);
  padding: 1rem 1rem;
  width: 200px;
  margin: 20px;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.match3 {
  display: inline-block;
  border: 1px solid rgb(0, 4, 255);
  padding: 1rem 1rem;
  width: 200px;
  margin: 20px;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}