x/* App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #c4d0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 }

.user-profile {
  width: 370px;
  color:black;
  border: rgb(78, 80, 128) 4px solid;
  background-color: rgb(193, 200, 232);
  padding: 20px;
  float: top;
  margin: auto;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: center;
}

.user-matches {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 900px;
}

.match1 {
  display: inline-block;
  border: 1px solid rgb(0, 4, 255);
  padding: 1rem 1rem;
  width: 200px;
  margin: 20px;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.match2 {
  display: inline-block;
  border: 1px solid rgb(0, 4, 255);
  padding: 1rem 1rem;
  width: 200px;
  margin: 20px;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.match3 {
  display: inline-block;
  border: 1px solid rgb(0, 4, 255);
  padding: 1rem 1rem;
  width: 200px;
  margin: 20px;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#back-button {
  justify-content: center; 
  width: 130px;
  height: 50px;
  color:rgb(255, 255, 255);
  border: 2px solid rgb(222, 228, 255);
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(156, 179, 218);
  border-radius: 12px;
  margin-top: 30px;
  text-align: center;
  transition-duration: 0.4s;
  float: center;
}

#again-button:hover {
  background-color: rgb(119, 136, 165);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}